                            /*FONDO*/
/*-------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
#fondo {
    background-image: url('fotos/fondo1.jpg');
    background-size: cover;
    background-position: center;
        width: 100%;
        height: 100%;
    position: fixed; /*para fijar la posicion*/
    opacity: 7.8; /*para darle opacided a la imagen*/
    z-index: 1; /*posicionamiento*/
}
                            /*BARRA SUPERIOR*/
/*-------------------------------------------------------------------*/
                            /*MENU - LOCO*/
            /*----------------------------------------------*/
.menuPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: fixed;
  z-index: 5; 
  width: 100%;
  margin-top: 21px;
}
.salesianosNombre {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-right: 300px;

}
.icono-salesianos img {
    width: 30px;
    background-color: #B0B0B0B0;
    margin-top: 10px;
    margin-left: 300px;
}
                            /*Menu de inicio*/
            /*----------------------------------------------*/
#menuInicio {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

#menuInicio a {
    padding: 1px 15px;
}

                            /*BOTON*/
            /*----------------------------------------------*/
.botones {
  display: flex;
  gap: 40px; /*esto es para el espaciado entre botones*/
}
.botones button {
  background: none;
  color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.3s;
}
.botones button:hover {
  color: orange;
}
                            /*EL CORREDOR*/
            /*----------------------------------------------*/
.elCorredor {
    color: white;
    background-color: black;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    width: 100%;
    /*alineación*/
    display: flex;
    position: fixed;
    z-index: 6; 
}
.elCorredor p {
    position: absolute;
    white-space: nowrap; /*evitaQueElTextoSeDivida*/
    animation: textScroll 55s linear infinite; /*paraElTextoMobiendo*/
}
                            /*CONTENEDOR TOTAL/
/*-------------------------------------------------------------------*/
#contenedorTotal {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    padding-top: 80px;
    position: relative;
    z-index: 4;
}
                            /*CONTENEDOR 1/
/*-------------------------------------------------------------------*/
header {
    background-image: url('fotos/fonfo2.jpg');
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10.5);
    border: 10px solid black;
    border-radius: 20px;
}
                            /*BLOQUE SECUNDARIO*/
            /*----------------------------------------------*/

#bloqueCentral {
    background-image: url('fotos/fonfo.jpg');
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
                            /*TITULO*/
#titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1190px;
}
.nombre h1 {
    font-size: 100px;
    font-family: 'Algerian';
    color: #cccccc;
    border-style: 10px;
    margin: 170px 10px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
}
.refran {
    background-image: url('fotos/fonfo2.jpg');
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.refran p {
    font-size: 15px;
    font-family: 'Algerian';
    color: white;
    margin: -180px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 10.5);
    padding: 5px;
}
                            /*IMAGEN*/
.imagen-yo img {
    width: 330px;
    height: auto;
    border-radius: 20%;
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: 4px solid black;
    box-shadow: 0px 0px 25px rgba(0, 0, 10, 50.5);
}
                            /*CONTENEDOR 2/
/*-------------------------------------------------------------------*/
                            /*BLOQUE PRINCIPAL*/
            /*----------------------------------------------*/
main {
    background-image: url('fotos/fonfo2.jpg');
    padding: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: space-between; /*alineaLosElementosAlPrincipio*/
    border: 10px solid black;
    border-radius: 20px;
}
                            /*BLOQUE SOBRE MI*/
            /*----------------------------------------------*/
                            /*TEXTO*/
.sobre-mi {
    background-image: url('fotos/fonfo.jpg');
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    margin-right: 100px;
    margin-left: 70px;
    margin-top: 100px;
    border: 10px solid black;
    border-radius: 20px;
}
.sobre-mi h2 {
    padding: 10px 10px;
    margin: 0;
    font-size: 40px;
    font-family: 'Arial Black';
    color: white;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 10.5);
}
.descripcion {
    padding: 10px;
    margin-top: 10px;
    /*width: 300px;*/
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black';
    color: black;
}
                            /*BOTON*/
.botonSobreMi {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 210px;
}
.botonSobreMi button {
  background: none;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.3s;
}
.botonSobreMi button:hover {
  color: orange;
}
.diseño-botonSobreMi {
    padding: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black';
    color: black;
}
                            /*IMAGENES*/
.iconos-varios {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 90%;
    max-width: 800px;
    grid-template-columns: 100px 100px;
    margin: 10px;
    gap: 20px;
}
.image-box {
    position: relative;
    transition: transform 0.3s ease;
    z-index: 1;
}
.image-box img {
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
    z-index: 3;
}
.image-box:hover {
    transform: scale(1.05);
    z-index: 3;
}
.image-box:hover img {
    transform: scale(2.3);
    z-index: 3;
}
/* Estilos individuales para cada imagen */
.imagen1 img {
    margin-left: 0px;
    width: 220px;
    height: auto;
    margin-top: 230px;
    z-index: 2;
    box-shadow: 0px 0px 50px rgba(82, 75, 126 , 10.1);
}
.imagen2 img {
    width: 100px;
    height: auto;
    margin-left: -100px;
    margin-top: 3px;
    z-index: 2;
    box-shadow: 0px 0px 50px rgba(82, 75, 126 , 10.1);
}
.imagen3 img {
    width: 100px;
    height: auto;
    margin-left: 12px;
    margin-top: 230px;
    z-index: 2;
    box-shadow: 0px 0px 50px rgba(82, 75, 126 , 10.1);
}
.imagen4 img {
    width: auto;
    height: 220px;
    margin-left: -40px;
    margin-right: 100px;
    margin-top: 65px;
    transform: rotate(-90deg);
    z-index: 2;
    box-shadow: 0px 0px 50px rgba(82, 75, 126 , 10.1);
}
                            /*CONTENEDOR 3/
/*-------------------------------------------------------------------*/
                            /*BLOQUE PRINCIPAL*/
            /*----------------------------------------------*/
footer {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    border-top: 15px solid grey;
}
                            /*TEXTO*/
            /*----------------------------------------------*/
footer .contacto h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
footer .contacto h3 {
    font-size: 16px;
}
footer .contacto p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
                            /*FORMULARIO*/
            /*----------------------------------------------*/
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.formulario-contacto input,
.formulario-contacto textarea {
    width: 60%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 5px;
}
.formulario-contacto button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
.formulario-contacto button:hover {
    background-color: #777;
}
                            /*IMAGENES*/
            /*----------------------------------------------*/
.iconos-redes {
    margin-top: 10px;
    size: 10px;
}
.iconos-redes img {
    margin: 0 15px;
    transition: transform 0.3s ease; 
    width: 40px;
}
.iconos-redes img:hover {
    transform: scale(1.2);
}